#grocery-form {
  display: flex;
  gap: 0.5rem;
}

#grocery-input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

#grocery-form button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  background: #06b6d4;
  color: white;
  cursor: pointer;
}

#grocery-form button:hover {
  background: #0e7490;
}
.clear-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: crimson;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.clear-btn:hover {
  background: darkred;
}
